<mat-card class="big">
  <mat-card-header><mat-card-title>NFC</mat-card-title></mat-card-header>
  <mat-card class="small">
    <mat-card-header>
      <mat-card-title>NFC West</mat-card-title>
    </mat-card-header>
    <mat-nav-list>
      <mat-list-item *ngFor="let team of nfcWestTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
  <mat-card class="small"
    ><mat-card-header><mat-card-title>NFC East</mat-card-title></mat-card-header
    ><mat-nav-list>
      <mat-list-item *ngFor="let team of nfcEastTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
  <mat-card class="small"
    ><mat-card-header
      ><mat-card-title>NFC South</mat-card-title></mat-card-header
    ><mat-nav-list>
      <mat-list-item *ngFor="let team of nfcSouthTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list></mat-card
  >
  <mat-card class="small"
    ><mat-card-header
      ><mat-card-title>NFC North</mat-card-title></mat-card-header
    >
    <mat-nav-list>
      <mat-list-item *ngFor="let team of nfcNorthTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list></mat-card
  >
</mat-card>

<mat-card class="big">
  <mat-card-header><mat-card-title>AFC</mat-card-title></mat-card-header>
  <mat-card class="small">
    <mat-card-header><mat-card-title>AFC West</mat-card-title></mat-card-header
    ><mat-nav-list>
      <mat-list-item *ngFor="let team of afcWestTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list></mat-card
  >
  <mat-card class="small">
    <mat-card-header><mat-card-title>AFC East</mat-card-title></mat-card-header>
    <mat-nav-list>
      <mat-list-item *ngFor="let team of afcEastTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list></mat-card
  >
  <mat-card class="small">
    <mat-card-header
      ><mat-card-title>AFC South</mat-card-title></mat-card-header
    >
    <mat-nav-list>
      <mat-list-item *ngFor="let team of afcSouthTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list></mat-card
  >
  <mat-card class="small">
    <mat-card-header><mat-card-title>AFC North</mat-card-title></mat-card-header
    ><mat-nav-list>
      <mat-list-item *ngFor="let team of afcNorthTeams">
        <a matLine href="/team-detail/{{ team.abbreviation }}">
          {{ team.name }}
        </a>
      </mat-list-item>
    </mat-nav-list></mat-card
  >
</mat-card>
