<div *ngIf="teams">
    <mat-card class="big">
        <mat-card-header>
            <mat-card-title>Csapatok</mat-card-title>
        </mat-card-header>
        <mat-card class="medium">
            <mat-form-field>
                <mat-label>Szezon</mat-label>
                <mat-select
                        [value]="selectedSeason"
                        (valueChange)="onSeasonChanged($event)"
                >
                    <mat-option *ngFor="let season of seasons" [value]="season">
                        {{ season }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card class="small">
                <mat-card-header>
                    <mat-card-title>NFC West</mat-card-title>
                </mat-card-header>
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of nfcWestTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card>
            <mat-card class="small"
            >
                <mat-card-header
                >
                    <mat-card-title>NFC East</mat-card-title>
                </mat-card-header
                >
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of nfcEastTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card>
            <mat-card class="small"
            >
                <mat-card-header
                >
                    <mat-card-title>NFC South</mat-card-title>
                </mat-card-header
                >
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of nfcSouthTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card
            >
            <mat-card class="small"
            >
                <mat-card-header
                >
                    <mat-card-title>NFC North</mat-card-title>
                </mat-card-header
                >
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of nfcNorthTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card
            >
        </mat-card>

        <mat-card class="medium2">
            <mat-card class="small">
                <mat-card-header
                >
                    <mat-card-title>AFC West</mat-card-title>
                </mat-card-header
                >
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of afcWestTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card
            >
            <mat-card class="small">
                <mat-card-header
                >
                    <mat-card-title>AFC East</mat-card-title>
                </mat-card-header
                >
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of afcEastTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card
            >
            <mat-card class="small">
                <mat-card-header
                >
                    <mat-card-title>AFC South</mat-card-title>
                </mat-card-header
                >
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of afcSouthTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card
            >
            <mat-card class="small">
                <mat-card-header
                >
                    <mat-card-title>AFC North</mat-card-title>
                </mat-card-header
                >
                <mat-nav-list>
                    <mat-list-item *ngFor="let team of afcNorthTeams">
                        <a
                                matLine
                                routerLink="/team-detail/{{ selectedSeason }}/{{
                team.abbreviation
              }}"
                        >
                            {{ team.name }}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-card
            >
        </mat-card>
    </mat-card>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
