mat-drawer {
    background: #1a237e;
}

mat-nav-list * {
    color: white;
}

mat-drawer-content * {
    margin-left: 20px;
    margin-right: 20px;
}

.big {
    background: #1a237e;
    color: white;
}

mat-card {
    opacity: 0.95;
}
