<h1>Secondaries</h1>
<mat-form-field>
  <mat-label>Season</mat-label>
  <mat-select [value]="selectedSeason" (valueChange)="onSeasonChanged($event)">
    <mat-option *ngFor="let season of seasons" [value]="season">
      {{ season }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div style="display: block">
  <canvas
    baseChart
    [datasets]="scatterChartData"
    [options]="scatterChartOptions"
    [labels]="scatterChartLabels"
    [chartType]="scatterChartType"
  >
  </canvas>
</div>
