<div class="page mat-typography">
  <mat-toolbar color="primary">
    <span>{{ title }}</span>

    <nav class="toolbar" *ngIf="user">
      <a mat-button routerLink="/teams">Csapatok</a>
      <a mat-button routerLink="/games">Meccsek</a>
      <a mat-button routerLink="/stats">Statisztikák</a>
      <a mat-raised-button class="logout-button" (click)="logout()"
        >Kijelentkezés<mat-icon>arrow_right_alt</mat-icon></a
      >
    </nav>
  </mat-toolbar>

  <div class="main-app">
    <router-outlet></router-outlet>
  </div>
</div>
