<div class="page mat-typography">
  <mat-toolbar color="primary">
    <span>{{ title }}</span>

    <nav>
      <a mat-button routerLink="/teams">Teams</a>
      <a mat-button routerLink="/games">Games</a>
      <button mat-button [matMenuTriggerFor]="menu">Stats</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/bar-chart">Season stats</button>
        <button mat-menu-item routerLink="/qb-stats">Qb stats</button>
        <button mat-menu-item routerLink="/wr-stats">Wr stats</button>
        <button mat-menu-item routerLink="/rb-stats">Rb stats</button>
        <button mat-menu-item routerLink="/defense-stats">Defense stats</button>
      </mat-menu>
    </nav>
  </mat-toolbar>

  <div class="main-app">
    <router-outlet></router-outlet>
  </div>
</div>
