<ul class="games">
  <li *ngFor="let game of games">
     <a (click)="isOpen[game.gameId] = !isOpen[game.gameId]">{{ game.homeTeam }} @ {{game.awayTeam}} </a>
     <p *ngIf="isOpen[game.gameId]">Home team: {{game.homeTeam}}</p>
     <p *ngIf="isOpen[game.gameId]">Away team: {{ game.awayTeam }}</p>
     <p *ngIf="isOpen[game.gameId]">Home score: {{ game.homeScore }}</p>
     <p *ngIf="isOpen[game.gameId]">Home score: {{ game.awayScore }}</p>
     <p *ngIf="isOpen[game.gameId]">Home yards: {{ game.homeYards }}</p>
     <p *ngIf="isOpen[game.gameId]">Away yards: {{ game.awayYards }}</p>   
     <p *ngIf="isOpen[game.gameId]">Game date:: {{ game.gameDate }}</p>   
  </li>
</ul>