.games {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.games li {
  cursor: pointer;
  background-color: #EEE;
  padding: 0.8em;
  margin: 0.8em;
}
 
.games li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
 
.games a {
  color: rgb(76, 75, 85);
}

 .games p {
  color: #888;
  text-decoration: none;
  display: block;
  margin: 0.1em;
}
 
.games a:hover {
  color:#607D8B;
}
 
   
