<h1>TD/Yardok</h1>
<mat-form-field>
  <mat-label>Szezon</mat-label>
  <mat-select [value]="selectedSeason" (valueChange)="onSeasonChanged($event)">
    <mat-option *ngFor="let season of seasons" [value]="season">
      {{ season }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <!-- <mat-label>Season</mat-label> -->
  <mat-select
    [value]="selectedAllowedScored"
    (valueChange)="onAllowedScoredChanged($event)"
  >
    <mat-option value="allowed">Engedett</mat-option>
    <mat-option value="scored">Szerzett</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <!-- <mat-label>Season</mat-label> -->
  <mat-select [value]="selectedType" (valueChange)="onTypeChanged($event)">
    <mat-option value="all">Összes</mat-option>
    <mat-option value="receiving">Passzolt</mat-option>
    <mat-option value="rushing">Futott</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Csapat kiemelése</mat-label>
  <mat-select
    [formControl]="teamsFC"
    multiple
    (valueChange)="teamClicked($event)"
  >
    <mat-option *ngFor="let team of teams" [value]="team">{{
      team
    }}</mat-option>
  </mat-select>
</mat-form-field>

<div style="display: block">
  <canvas
    baseChart
    [datasets]="scatterChartData"
    [options]="scatterChartOptions"
    [labels]="scatterChartLabels"
    [chartType]="scatterChartType"
    [legend]="scatterChartLegend"
  >
  </canvas>
</div>
