<div *ngIf="head2head">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile
        >
          <div>Engedett átlag pontok</div>
            <div style="display: block; width: 300px; height: 150px">
                <canvas
                        baseChart
                        [datasets]="allowedPointsData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors"
                >
                </canvas>
            </div
            >
        </mat-grid-tile>
        <mat-grid-tile
        >
          <div>Szerzett átlag pontok</div>
            <div style="display: block; width: 300px; height: 150px">
                <canvas
                        baseChart
                        [datasets]="scoredPointsData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors"
                >
                </canvas>
            </div
            >
        </mat-grid-tile>
        <mat-grid-tile
        >
          <div>Engedett átlag yardok</div>
            <div style="display: block; width: 300px; height: 150px">
                <canvas
                        baseChart
                        [datasets]="allowedYardsData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors"
                >
                </canvas>
            </div>
        </mat-grid-tile>
        <mat-grid-tile
        >
          <div>Szerzett átlag yardok</div>
            <div style="display: block; width: 300px; height: 150px">
                <canvas
                        baseChart
                        [datasets]="scoredYardsData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors"
                >
                </canvas>
            </div
            >
        </mat-grid-tile>
    </mat-grid-list>
</div>
