<mat-form-field>
  <mat-label>Season</mat-label>

  <mat-select [value]="selectedSeason" (valueChange)="onSeasonChanged($event)">
    <mat-option *ngFor="let season of seasons" [value]="season">
      {{ season }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-accordion>
  <mat-expansion-panel *ngFor="let game of games">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ game.homeTeam }}
      </mat-panel-title>
      <mat-panel-description>
        {{ game.awayTeam }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    asd
  </mat-expansion-panel>
</mat-accordion>
