<div *ngIf="games">
  <mat-card class="big">
    <mat-card-header>
      <mat-card-title>Meccsek</mat-card-title>
    </mat-card-header>
    <mat-card class="small">
      <mat-form-field>
        <mat-label>Szezon</mat-label>
        <mat-select
          [value]="selectedSeason"
          (valueChange)="onSeasonChanged($event)"
        >
          <mat-option *ngFor="let season of seasons" [value]="season">
            {{ season }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Forduló</mat-label>
        <mat-select
          [value]="selectedWeek"
          (valueChange)="onWeekChanged($event)"
        >
          <mat-option *ngFor="let week of weeks" [value]="week">
            {{ week }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-chip-list class="season">
        <mat-chip>{{ selectedSeason }}</mat-chip>
      </mat-chip-list>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let game of filteredGames">
          <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
              {{ game.homeTeam }} - {{ game.awayTeam }}
            </mat-panel-title>
            <mat-panel-description>
              {{ game.gameDate | date: "yyyy.MM.dd." }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="list">
            <mat-list dense>
              <mat-list-item> Hazai pontszám: {{ game.homeScore }} </mat-list-item>
              <mat-list-item> Vendég pontszám: {{ game.awayScore }} </mat-list-item>
              <mat-list-item> Hazai csapat által szezett yardok: {{ game.homeYards }} </mat-list-item>
              <mat-list-item> Vendég csapat által szerzett yardok: {{ game.awayYards }} </mat-list-item>
            </mat-list>
          </div>
          <div class="head2head" *ngIf="selectedWeek != 1">
            <ng-template matExpansionPanelContent>
              <app-head2head
                id="{{ game.gameId }}"
                home="{{ game.homeTeam }}"
                away="{{ game.awayTeam }}"
              ></app-head2head>
            </ng-template>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </mat-card>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>
